# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
.venv/

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore large model files (optional)
*.pkl

# Ignore system files
.DS_Store
Thumbs.db
